{% assign username = page.username %}
{% assign entries = site.posts | where: "author", username %}
{% assign limit = page.posts.section.limit %}

{% if page.posts.section.visible == true %}
<div class="container py-5 text-center border-top"{% if page.posts.section.highlight == true %} style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,249,250,0) 100%);"{% endif %}>

  <div class="row">
    <div class="col">
      {% if page.posts.section.icon %}<div class="display-6">{{ page.posts.section.icon }}</div>{% endif %}
      {% if page.posts.section.name %}<div class="display-6">{{ page.posts.section.name }}</div>{% endif %}
      {% if page.posts.section.preamble %}<p>{{ page.posts.section.preamble }}</p>{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if entries.size > 0 %}
      <div class="list-group shadow text-start">
        {% for i in entries limit: limit %}
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <a href="{{ site.baseurl }}{{ i.url }}" class="list-group-item list-group-item-action">
          <div class="d-flex gap-2w-100 justify-content-between">
            <h5 class="pt-0 mt-1 mb-1 fw-bold text-primary">{{ i.title }}</h5>
            <small class="text-muted">{{ i.date | date: date_format }}</small>
          </div>
          <p class="mb-1">{{ i.excerpt | strip_html | slice: 0,150 }}...</p>
        </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="alert alert-light border shadow" role="alert">Nothing posted here, yet.</div>
      {% endif %}
    </div>
  </div>

</div>
{% endif %}
