{% if page.pubkeys.section.visible == true %}
<div class="container py-5 text-center border-top"{% if page.pubkeys.section.highlight == true %} style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,249,250,0) 100%);"{% endif %}>

  <div class="row">
    <div class="col">
      {% if page.pubkeys.section.icon %}<div class="display-6">{{ page.pubkeys.section.icon }}</div>{% endif %}
      {% if page.pubkeys.section.name %}<div class="display-6">{{ page.pubkeys.section.name }}</div>{% endif %}
      {% if page.pubkeys.section.preamble %}<p>{{ page.pubkeys.section.preamble }}</p>{% endif %}
    </div>
  </div>

  {% if page.pubkeys.content.size > 0 %}
  <div class="row">
    {% for pubkey in page.pubkeys.content %}
    <div class="col-sm-6 px-5">
      <p class="fw-bold">{{ pubkey.name }}</p>
      <div class="input-group">
        <textarea id="{{ pubkey.name }}-key-{{ forloop.index }}" class="form-control font-monospace" placeholder="User's key" aria-label="User's key" aria-describedby="{{ pubkey.name }}-button-{{ forloop.index }}" readonly rows="5">{{ pubkey.content }}</textarea>
        <button id="{{ pubkey.name }}-button-{{ forloop.index }}" class="btn btn-clipboard btn-outline-primary" type="button" aria-label="Copy to clipboard" data-clipboard-target="#{{ pubkey.name }}-key-{{ forloop.index }}" data-bs-toggle="tooltip" data-bs-title="Copy to clipboard"><i class="fa-solid fa-clipboard"></i></button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-light border shadow" role="alert">Nothing posted here, yet.</div>
  {% endif %}

</div>
{% endif %}
