{% if page.support.section.visible == true %}
<div class="container py-5 text-center border-top"{% if page.support.section.highlight == true %} style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,249,250,0) 100%);"{% endif %}>

  <div class="row">
    <div class="col">
      {% if page.support.section.icon %}<div class="display-6">{{ page.support.section.icon }}</div>{% endif %}
      {% if page.support.section.name %}<div class="display-6">{{ page.support.section.name }}</div>{% endif %}
      {% if page.support.section.preamble %}<p>{{ page.support.section.preamble }}</p>{% endif %}
    </div>
  </div>

  {% if page.support.content.size > 0 %}
  <div class="row">
    {% for support in page.support.content %}
    <div class="col">
      {{ support }}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-light border shadow" role="alert">Nothing posted here, yet.</div>
  {% endif %}

</div>
{% endif %}
