<div class="bg-dark py-5" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">
  <div class="container py-5 text-white text-center">
    <div class="row">
      <div class="col">
        <div class="display-1 fw-bold">{{ site.title }}</div>
        <div class="lead">{{ site.description }}</div>
      </div>
    </div>
  </div>
</div>
