{% assign sponsors_limit = 65 %}

<div class="container text-center mt-5 mb-5">

  <div class="row">
    <div class="col">
      <div class="display-6"><i class="fa-solid fa-hand-holding-heart"></i></div>
      <div class="display-6">Sponsors</div>
      <p>CentOS would not be possible without the support of our sponsors. We would like to thank the following product/service for being a CentOS sponsor.</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="content d-flex align-items-center justify-content-center">
        <div class="container rounded">
          <div class="rollers position-relative overflow-hidden">
            <div class="start-roller"></div>
            <div class="wrapper">
              <div class="items-container roll-LL">
                {% for sponsor in site.sponsors limit: sponsors_limit %}
                <div class="item">
                  <a class="btn btn-link" href="{{ sponsor.address }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="company"></a>
                </div>
                {% endfor %}
              </div>
              <div class="items-container roll-RL">
                {% for sponsor in site.sponsors limit: sponsors_limit %}
                <div class="item">
                  <a class="btn btn-link" href="{{ sponsor.address }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="company"></a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="wrapper">
              <div class="items-container reverse-roll-LL">
                {% for sponsor in site.sponsors limit: sponsors_limit | reverse %}
                <div class="item">
                  <a class="btn btn-link" href="{{ sponsor.address }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="company"></a>
                </div>
                {% endfor %}
              </div>
              <div class="items-container reverse-roll-RL">
                {% for sponsor in site.sponsors limit: sponsors_limit | reverse  %}
                <div class="item">
                  <a class="btn btn-link" href="{{ sponsor.address }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="company"></a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="end-roller"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>If you value our work, please consider <a href="sponsors"><i class="fa-solid fa-hand-holding-heart"></i> becoming a sponsor</a>!</p>
    </div>
  </div>

</div>
