<footer class="footer pt-3 bg-dark small text-light" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">

<div class="container">
  <div class="row justify-content-between mt-4 pt-4">
    <div class="col-lg-3 mb-5">
      <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.data.centos.identity.logo.link }}"><img role="img" src="{{ site.baseurl }}/{{ site.data.centos.identity.logo.navbar }}" height="32" alt="{{ site.title }}"><span class="manifestation">{{ site.data.centos.identity.logo.manifestation }}</span></a>
      <p class="my-3">{{ site.description }}</p>
      <ul class="nav list-unstyled d-flex">
        {% for item in site.data.centos.footer.social %}
        <li class="nav-item me-4 fs-5"><a href="{{ item.link }}" role="button" aria-label="{{ item.name }}" class="link-light"><i class="{{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>

    {% if site.data.centos.footer.columns %}
    {% for column in site.data.centos.footer.columns %}
    {% assign links = site.data.centos.navbar | where: "name", column %}
    {% for section in links %}
    <div class="col-sm-12 col-lg-3 mb-3">
      <h6 class="text-uppercase fw-bold">{{ section.name }}</h6>
      <ul class="nav flex-column">
        {% for item in section.menu %}
        <li class="nav-item my-1"><a href="{{ item.link }}" class="px-0 link-light">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
  </div>

  <div class="row pt-5">
    <div class="col">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.data.centos.footer.copyright.author }} {% for item in site.data.centos.footer.copyright.legals %} | <span class="nav-item"><a href="{{ item.link }}" class="link-light">{{ item.text }}</a></span>{% endfor %}</p></div>
  </div>

</footer>
