<header class="site-header sticky-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 shadow">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.data.centos.identity.logo.link }}"><img role="img" src="{{ site.baseurl }}/{{ site.data.centos.identity.logo.navbar }}" height="32" alt="{{ site.title }}"><span class="manifestation">{{ site.data.centos.identity.logo.manifestation }}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {%- for nav-item in site.data.centos.navbar -%}
        {% if nav-item.menu.size == 0 %}
        <li class="nav-item"><a class="nav-link" role="presentation" href="{{ nav-item.link }}"><i class="{{ nav-item.icon }}"></i> {{ nav-item.name }}</a></li>
        {% else -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="{{ nav-item.icon }}"></i> {{ nav-item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="navbarDropdown-{{ forloop.index }}">
            {%- for dropdown-item in nav-item.menu -%}
            <li><a class="dropdown-item" role="presentation" href="{{ dropdown-item.link }}">{{ dropdown-item.name }}</a> </li>
            {% endfor -%}
          </ul>
        </li>
        {% endif %}
        {%- endfor -%}
        </ul>
    </div>
  </div>
</nav>
</header>
