<nav class="post__nav__explorer">
  {% if page.previous.url %}
  <div class="post__nav__explorer__newer">
  {% else %}
  <div class="post__nav__explorer__newer--disabled">
  {% endif %}
  <a href="{{ page.previous.url | remove:'index.html' }}"><button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Previous Post - {{ page.previous.title }}"><i class="fas fa-arrow-left"></i></button></a>
  </div>

  <div class="post__nav_explorer__feeds">
    <a href="{{ "/feed.xml" | relative_url }}"><button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="RSS"><i class="fas fa-rss"></i></button></a>
  </div>
  <div class="post__nav__explorer__index">
    <a href="{{ "/news-and-events/" | relative_url }}"><button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Blog posts"><i class="fas fa-th"></i></button></a>
  </div>
  {% if page.next.url %}
  <div class="post__nav__explorer__older">
  {% else %}
  <div class="post__nav__explorer__older--disabled">
  {% endif %}
  <a href="{{ page.next.url | remove:'index.html' }}"><button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Next Post - {{ page.next.title }}"><i class="fas fa-arrow-right"></i></button></a>
  </div>
</nav>
