//
// CentOS Branding
//
$centos-color-1: #a14f8c;
$centos-color-2: #262577;
$centos-color-3: #9ccd2a;
$centos-color-4: #efa724;
//
// Bootstrap customization
//
$body-color:                  shade-color($centos-color-1, 75);
$enable-rounded:              true;
$enable-negative-margins:     true;
$nav-pills-link-active-bg:    $centos-color-1;
$link-color:                  $centos-color-1;
$link-decoration:             none;
$primary:                     $centos-color-1;
$secondary:                   $centos-color-4;
$dark:                        #200735;
$dropdown-dark-bg:            $dark;
$font-family-sans-serif:      Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       overpass-mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$line-height-base:            1.75;
