<header class="header header__blog">

  {% if paginator.previous_page_path %}
  <a href="{{ paginator.previous_page_path }}"><div class="header__blog__older"><i class="fas fa-arrow-left"></i></div></a>
  {% else %}
  <div class="header__blog__older header__blog__older--disabled"><i class="fas fa-arrow-left"></i></div>
  {% endif %}

  <section class="header__blog__present">
    <h1 class="header__blog__title">{{ page.title }}</h1>
    <p class="header__blog__description">{{ page.title_lead }}</p>
  </section>

  {% if paginator.next_page_path %}
  <a href="{{ paginator.next_page_path }}"><div class="header__blog__newer"><i class="fas fa-arrow-right"></i></div></a>
  {% else %}
  <div class="header__blog__newer header__blog__newer--disabled"><i class="fas fa-arrow-right"></i></div>
  {% endif %}

</header>

{% include hr.html %}
