{% if include.distribution %}
{% assign cards = site.data.centos.distributions | where: "page", include.distribution %}
{% else %}
{% assign cards = site.data.centos.distributions %}
{% endif %}

<div class="download__content__card">
  <div class="download__content__card__header">
    <ul class="nav nav-pills card-header-pills flex-column flex-sm-row">
    {% for item in cards %}
    <li class="nav-item flex-sm-fill text-sm-center"><a class="nav-link{% if forloop.first %} active{% endif %}" role="tab" data-toggle="tab" href="#{{ item.page }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="download__content__card__body tab-content">
    {% for item in cards %}
    <div class="tab-pane{% if forloop.first %} active{% endif %}" role="tabpanel" id="{{ item.page }}">

      <div class="download__content__card">
        <div class="download__content__card__header">
          <ul class="nav nav-pills card-header-pills flex-column flex-sm-row">
            {% for release in item.releases %}
            <li class="nav-item flex-sm-fill text-sm-center"><a class="nav-link{% if forloop.first %} active{% endif %}" role="tab" data-toggle="tab" href="#{{ item.page }}-{{ release[0] }}">{{ release[0] }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="download__content__card__body tab-content">
            {% for release in item.releases %}
            <div class="tab-pane{% if forloop.first %} active{% endif %}" role="tabpanel" id="{{ item.page }}-{{ release[0] }}">
            {% include download/cards-header.html %}
            {% for row in release[1].downloads %}
            {% include download/cards-body.html %}
            {% endfor %}
            {% include download/cards-footer.html %}

            {% include download/cards-header-doc.html %}
            {% for row in release[1].docs %}
            {% include download/cards-body-doc.html %}
            {% endfor %}
            {% include download/cards-footer.html %}

            {% include download/cards-header-eol.html %}
            {% for row in release[1].eol %}
            {% include download/cards-body-eol.html %}
            {% endfor %}
            {% include download/cards-footer.html %}

            {% for row in release[1].convert %}
            {% include download/cards-header-convert.html %}
            {% include download/cards-body-convert.html %}
            {% include download/cards-footer.html %}
            {% endfor %}

            </div>
            {% endfor %}
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>
