---
layout: default
---

<main class="blog">

  <div class="blog__content">

  <ol class="blog__content__breadcrumb">
    <li class="blog__content__breadcrumb__item"><a href="{{ site.baseurl }}">Home</a></li>
    <li class="blog__content__breadcrumb__item--active">{{ page.title | capitalize }}</li>
  </ol>

  <section class="blog__content__entries">
      {%- if site.posts.size > 0 -%}
      <div class="blog__content__entries__card">
        {%- for post in paginator.posts -%}
        <div class="blog__content__entries__card__item">
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {%- if post.image -%}
            <a href="{{ post.url | relative_url }}"><img class="blog__content__entries__card__item__image" src="{{ post.image }}" alt="{{ post.title | escape }}"></a>
            {%- endif -%}
            <a href="{{ post.url | relative_url }}"><h4 class="blog__content__entries__card__item__title">{{ post.title | escape }}</h4></a>
            <p class="blog__content__entries__card__item__date">{{ post.date | date: date_format }}</p>
            {%- if site.show_excerpts -%}
            <p class="blog__content__entries__card__item__excerpt">{{ sponsor.excerpt }}</p>
            {%- endif -%}
          </div>
        {% endfor %}
      </div>
      {%- endif -%}
  </section>

  {% include post-nav-explorer.html %}

  </div>

</main>
