<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/centos.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
</head>

<body>

  {% include navbar.html -%}
  {% include header.html -%}

  <main class="search">

    <div class="search__content">
      <div class="search__content__nav">
        {% include breadcrumbs.html %}
      </div>

      <div class="search__content_results">
        {{ content }}
      </div>
    </div>

  </main>

  {% include footer.html -%}

  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
