<div class="bg-dark" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">
  <div class="container py-5 text-light">
    <div class="row mb-5">
    <div class="col">
      <div class="display-4 my-4 fw-bold">{{ page.title }}</div>
      <div class="lead">{{ page.title_lead }}</div>
    </div>
    </div>
  </div>
</div>
