<header class="header header__post">

  {% if page.previous.url %}
  <a href="{{ page.previous.url }}"><div class="header__post__older"><i class="fas fa-arrow-left"></i></div></a>
  {% else %}
  <div class="header__post__older header__post__older--disabled"><i class="fas fa-arrow-left"></i></div>
  {% endif %}

  <section class="header__post__present">
    <h1 class="header__post__title">{{ page.title }}</h1>
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    <p class="header__post__description">{{ page.date | date: date_format }}</p>
  </section>

  {% if page.next.url %}
  <a href="{{ page.next.url }}"><div class="header__post__newer"><i class="fas fa-arrow-right"></i></div></a>
  {% else %}
  <div class="header__post__newer header__post__newer--disabled"><i class="fas fa-arrow-right"></i></div>
  {% endif %}

</header>

{% include hr.html %}
